vsphere_vm { '{{name}}':
  ensure         => {{ensure}},
  {{#optional}}
  {{k}}          => '{{v}}',
  {{/optional}}
  create_command => {
  {{#create_command}}
  {{k}} => '{{v}}',
  {{/create_command}}
  },
  extra_config => {
  {{#extra_config}}
  '{{k}}' => '{{v}}',
  {{/extra_config}}
  },
}
